# Markdown:

In [1]:
#escape m for markdown shortcut
#escape y for code shortcut
#click "a" for getting cell above the current working cell 
#click "b" for getting cell below the current working cell 
#click escape for getting editing mode to execution mode
#doubleclick "d" by placing cursor on the cell for deleting that cell

# markdown format

# heading1
## heading 2
### heading3
#### heading4
##### heading5
###### heading6

## Variable
    -to store data
    -to access the value in particular function or methods
    -to change value

In [3]:
a=10

In [4]:
a

10

In [3]:
b=20

In [4]:
b

20

In [2]:
a=200
b="rajesh"
a
b

'rajesh'

In [3]:
a=200
b="rajesh"
a,b

(200, 'rajesh')

In [4]:
a=200
b="rajesh"
b
a

200

In [6]:
a=200
b="rajesh"
print(a,b)
print(b,a)

200 rajesh
rajesh 200

## Data Types
    -int->only numbers
    -float->decimal points
    -string->either with ' or "

c=23.00

t='tarun'

In [8]:
c,t=23.00,'tarun'

In [9]:
print(c,t)

23.0 tarun

In [10]:
c

23.0

## Type:
    -to know the datatype for value
    -type(variablename,datastructure)

In [11]:
type(c)

float

In [12]:
g="12.056"
g

'12.056'

In [13]:
print(g)

12.056

In [14]:
type(g)

str

In [15]:
print(type(g))

<class 'str'>

In [16]:
print(type(c))

<class 'float'>

In [17]:
print(type(a))

<class 'int'>

In [18]:
print(type(a),type(b),type(c),type(g))

<class 'int'> <class 'str'> <class 'float'> <class 'str'>

In [19]:
type(a),type(b),type(c),type(g)

(int, str, float, str)

In [20]:
a,b,c,g

(200, 'rajesh', 23.0, '12.056')

## Input()
    - by default it considered as a string
    -print(),read()

In [2]:
a=input()
print(a,type(a))

23
23 <class 'str'>

In [4]:
t=input("enter a value:")
print(t,type(t))# by default it taking as string

enter a value:23.00
23.00 <class 'str'>

## Type Casting
    -converting one data into another data type
    -int(),float(),string()

In [8]:
p=int(input("enter only integer value:"))
print(p,type(p))

enter only integer value:90
90 <class 'int'>

In [11]:
m=float(input("enter only float value:"))
print(m,type(m))

enter only float value:ashu

ValueError: could not convert string to float: 'ashu'

In [27]:
q=int(input("enter integer value:"))
k=float(input("enter float value:"))
print("conversion of int value is:",float(q))
print("conversion of float value is:",int(k))
print("both cases in string:"+"'"+str(q)+"'"+" "+"'"+str(k)+"'")

enter integer value:48
enter float value:45.0218
conversion of int value is: 48.0
conversion of float value is: 45
both cases in string:'48' '45.0218'

In [19]:
q=int(input("enter integer value:"))
k=float(input("enter float value:"))
print("conversion of int value is:"+float(q))
print("conversion of float value is:",int(k))
print("both cases in string:",q,k)

enter integer value:45
enter float value:67.0

TypeError: can only concatenate str (not "float") to str