Hi Welcome ðŸ‘ðŸ˜‰

# Output:
    - %
    - , +
    - .format

In [2]:
n = int(input("Enter a value: "))
m = input("Enter a name: ")
print("Entered number is: %d"%n)
print("Entered Name is: %s"%m)

Enter a value: 20
Enter a name: sandhya
Entered number is: 20
Entered Name is: sandhya

In [3]:
print("Entered Number is: %d and Entered Name is: %s"%(n,m))

Entered Number is: 20 and Entered Name is: sandhya

In [4]:
print("Entered Number is: {} and Entered Name is: {}".format(n,m))
print("Entered Number is: {0} and Entered Name is: {1}".format(n,m))
print("Entered Name is: {1} and Entered Number is: {0}".format(n,m))

Entered Number is: 20 and Entered Name is: sandhya
Entered Number is: 20 and Entered Name is: sandhya
Entered Name is: sandhya and Entered Number is: 20

# Operators:
    - Arithmetic -> +,-,*,/,%,floor(// -> Exact integer), exponential (** => pow())
    - Logical -> AND,OR,NOT
    - Bitwise -> &&,||,>>,<<
    - Relational -> ==,!=,>=,<=,>,<
    - Assignment -> +=,-=,*=,/=,%=
    - Membership -> in,not in
    - Identity -> is,is not

In [5]:
a = 20
print(a>>2)

5

## Conditional Statements:
    - To Check whether a given condition is either True or False
    - if,nested if,if-else,elif ladder
### If -> Single Case [T or F]
    Syntax:
        if (condition):
            //stmnt

In [6]:
n = int(input())
if n == 45:
    print("Entered Value is: {}".format(n))

45
Entered Value is: 45

## If-else -> Two Cases[T or F]
    Syntax:
        if (condition-1):
            //True Statement
        else:
            //False Statement

In [7]:
k = int(input())
m = int(input())
if k == m:
    print("Entered values {} and {} are Equal".format(k,m))
else:
    print("Entered value {} is not equal to {}".format(k,m))

23
18
Entered value 23 is not equal to 18

### Nested If [if within an if] -> one or more cases
    Syntax:
        if (condition-1):
            if(condition-2):
                //stmnt-1

       else optional case
       if (condition-1):
           if(condition-2):
               //stmnt-1
           else:
               //stmnt-2
       else:
           //stmnt-3

In [8]:
n = int(input())
if (n<=200):
    if (n==100):
        print("Entered Value {} is equal to 100".format(n))
    else:
        print("Entered Value {} is not equal to 100 but it is lower than 200".format(n))
else:
    print("Entered Value {} is greater than 200".format(n))

150
Entered Value 150 is not equal to 100 but it is lower than 200

## Elif -> Two or n more cases
    Syntax:
        if (condition-1):
            //stmnt-1
        elif (condition-2):
            //stmnt-2
        elif (condition-n):
            //stmnt-n
            | | | | |
        else:
            //stmnt-(n+1)

In [9]:
h = int(input())
if h%4 == 0:
    print("Entered Value {} is divisible by 4".format(h))
elif h%2 == 0 & h%4 == 0:
    print("Entered Value {} is divisible by 2 and 4".format(h))
elif h%2==0:
    print("Entered Value {} is divisible by 2".format(h))
else:
    print("Entered Value {} is Not divisible by 2".format(h))

40
Entered Value 40 is divisible by 4

## Control Statements,Iterations,Loops,Repition
    - To Control the Flow of Execution
    - For,while

### For -> For particular Range => [Know Ranges]
    Syntax:
        for iteration_variable in Iterator:
            //stmnts

        for iteration_variable in range():
            //stmnts

### Range
    range(n):
        -> By Default it starts from 0 to n-1
        => range(5) => 0,1,2,3,4
    range(n,m):
        -> Start range will starts from exactly at n and stops at m-1
        => range(4,8) => 4,5,6,7
    range(n,m,s):
        -> Start range will starts from exactly at n and stops at m-1 and stepping to s
        => range(4,10,2) => 4,6,8

In [10]:
n = int(input("Enter a range value: "))
for b in range(n):
    print(b,end=",")

Enter a range value: 23
0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,

In [11]:
n = int(input("Enter a Starting range value: "))
m = int(input("Enter a Ending range value: "))
for b in range(n,m):
    print(b,end=",")

Enter a Starting range value: 20
Enter a Ending range value: 50
20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,

In [12]:
n = int(input("Enter a Starting range value: "))
m = int(input("Enter a Ending range value: "))
s = int(input("Enter a Stepping Value: "))
for b in range(n,m,s):
    print(b,end=",")

Enter a Starting range value: 0
Enter a Ending range value: 30
Enter a Stepping Value: 5
0,5,10,15,20,25,

In [13]:
n = int(input("Enter a Starting range value: "))
m = int(input("Enter a Ending range value: "))
s = int(input("Enter a Stepping Value: "))
for b in range(m,n,-s):
    print(b,end=",")

Enter a Starting range value: 0
Enter a Ending range value: 10
Enter a Stepping Value: 2
10,8,6,4,2,

In [15]:
p = int(input())
k = int(input())
for a in range(p,k):
    print(k-a,end=" ")

10
20
10 9 8 7 6 5 4 3 2 1